parameters:
    level: 2
    paths:
        - lib
    bootstrapFiles:
        - lib/dbInfo.php
    tmpDir: C:/Users/111/AppData/Local/Temp/campus-phpstan
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - vendor